# Dataset e Immagini (da NON caricare come da NDA)
dataset_finale/

# Pesi dei modelli e risultati
weights/
results/
*.pt
*.safetensors

# Ambienti virtuali
venv/
env/
.env

# Cache di Python e script non rilevanti
__pycache__/
*.py[cod]
*$py.class
get-pip.py
progetto_siglip.txt
tesi_Siglip.txt

# File di sistema e configurazioni IDE
.vscode/
.idea/
.DS_Store
Thumbs.db