tesi_env/
weights/
logs/
*.pt
*.pkl
.venv/
__pycache__/
.DS_Store

# Escludi l'intera cartella dei dati pesanti
data/oos_ridotto/
data/processed/
data/processed_clean/
data/processed_clean_cluster/
data/raw/

# Se vuoi essere sicuro di non caricare mai immagini o file zip estratti per errore
*.jpg
*.jpeg
*.png
*.zip
*.tar.gz